{{template "header".}}
<body>
	<div class="container">

		<form class="form-signin" >
			<h2 class="form-signin-heading">注册</h2>

			<input type="email" id="inputEmail" class="form-control" placeholder="邮箱" required autofocus>

			<div class="input-group" style="margin-bottom:10px">
				<input type="number" id="inputVerifyCode" class="form-control" placeholder="验证码" aria-describedby="basic-addon2">
				<span class="input-group-addon" id="btn-request-verifycode">获取验证码</span>
			</div>

			<input type="password" id="inputPassword" class="form-control" placeholder="密码" required>

			<input type="password" id="inputPasswordConfirm" class="form-control" placeholder="确认密码" required>

			<button id="btn-register" class="btn btn-lg btn-primary btn-block" type="button" >注册</button>
		</form>

	</div> <!-- /container -->

	<script type="text/javascript" src="../static/js/jq/jquery-2.1.4.min.js"></script>
	<script type="text/javascript" src="../static/js/jq/jquery-ui.js"></script>
	<script type="text/javascript" src="../static/js/jq/jquery.json.min.js"></script>
	<script type="text/javascript" src="../static/js/bs/bootstrap.min.js"></script>
	<script type="text/javascript" src="../static/js/page.js"></script>

	<script type="text/javascript">

	$("#btn-register").click(function(){
		var email = $("#inputEmail").val();
		var verifyCode = $("#inputVerifyCode").val();
		var pwd = $("#inputPassword").val();
		var pwdConfirm = $("#inputPasswordConfirm").val();

		var emailRegex = /^[\w\-\.]+@[\w\-\.]+(\.\w+)+$/;
		if (!emailRegex.test(email)) {
			showNotice("danger","请输入合法的邮箱","")
			return
		}
		if (verifyCode == "") {
			showNotice("danger","验证码不能为空","")
			return
		}
		if (pwd == "") {
			showNotice("danger","密码不能为空","")
			return
		}
		if (pwd != pwdConfirm) {
			showNotice("danger","密码两次输入不同","")
			return
		}

		var request = {
			email: email,
			pwd: pwd,
			verify_code:verifyCode
		}

		var encoded = JSON.stringify(request)
		$.ajax({
			url: "/api/v1/user/register",
			type:"POST",
			data: encoded,
			dataType: "json",
			contentType: "application/json; charset=utf-8",
			success : function(data, status, xhr){
				console.log("status" + data.status);
				switch (data.status) {
					case 200:
					// location.assign(callback);
					showNotice("success","注册成功","");
					break;
					case 10001:
					case 10011:
					showNotice("danger","注册失败","请求错误");
					break;
					case 10004:
					showNotice("danger","注册失败","用户已存在");
					break;
					default:
					showNotice("danger","注册失败，请重试","");
				}
			},
			error : function(xhr, error, exception){
				showNotice("danger","连接服务器失败","");
			}
		});
	});

  // 计时器
	var Counter = {
		createNew:function(num){
			var obj = {};
			obj.counter = 0;

			obj.start = function(progress,finish){
				console.log("num =" + num);
				obj.counter = num;
				obj.countdown(progress,finish)
			};

			obj.countdown = function(progress,finish){
				if (obj.counter >= 1) {
					progress(obj.counter)
					obj.counter -= 1;
					setTimeout(function() {
						obj.countdown(progress,finish);
					}, 1000);
				}else {
					finish()
				}
			};

			obj.isCounting = function(){
				return obj.counter > 0;
			};

			return obj;
		}
	}

	var mCounter = new Counter.createNew(60);

	$("#btn-request-verifycode").click(function(){
		if (mCounter.isCounting()) {
			return
		}

		var email = $("#inputEmail").val();
		var emailRegex = /^[\w\-\.]+@[\w\-\.]+(\.\w+)+$/;
		if (!emailRegex.test(email)) {
			showNotice("danger","请输入合法的邮箱","")
			return
		}

		var request = {
			email: email
		}

		var encoded = JSON.stringify(request)
		$.ajax({
			url: "/api/v1/user/register/verifycode",
			type:"POST",
			data: encoded,
			dataType: "json",
			contentType: "application/json; charset=utf-8",
			success : function(data, status, xhr){
				console.log("status" + data.status);
				switch (data.status) {
					case 200:
					var mspan = $("#btn-request-verifycode")
					mCounter.start(
						function(counter){
							mspan.text(counter)
						},function(){
							mspan.text("获取验证码")
						})
					showNotice("success","邮件请求成功，请查收","");
					break;
					case 10004:
					showNotice("danger","请求失败","用户已存在");
					break;
					default:
					showNotice("danger","请求失败，请重试","");
				}
			},
			error : function(xhr, error, exception){
				showNotice("danger","连接服务器失败","");
			}
		});
		});

		</script>
	</body>
	</html>
