 body {
  padding-top: 60px;
  padding-bottom: 40px;
  background-color: #eee;
 }


/* 登录 */
 .form-signin, .form-register{
   max-width: 330px;
   padding: 15px;
   margin: 0 auto;
 }
 .form-signin .form-signin-heading,
 .form-register .form-register-heading,
 .form-signin .checkbox {
   margin-bottom: 10px;
 }
.form-register .form-register-heading{
  font-size: 2.2rem;
  text-align: center;
  margin-bottom: 20px;
}
 .form-signin .checkbox {
   font-weight: normal;
 }
 .form-signin .form-control,
 .form-register .form-control {
   position: relative;
   height: auto;
   -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
           box-sizing: border-box;
   padding: 1rem;
   font-size: 1.5rem;
 }
 .form-signin .form-control:focus, {
   z-index: 2;
 }
 .form-signin, .form-register, input[type="email"] {
   margin-bottom: 5px;
   border-bottom-right-radius: 0;
   border-bottom-left-radius: 0;
 }
 .form-signin, .form-register, input[type="password"] {
   margin-bottom: 5px;
   border-top-left-radius: 0;
   border-top-right-radius: 0;
 }

.form-register button {
  margin-top: 10px;
  background: #34495E;
  border: none;
}

.form-register button:hover{
  background: #23384d;
}

.popup {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  border: none;
  width: 100%;
  z-index: 10;
  text-align: center;
  display: inline-block;
}
.popup strong {
  margin-right: 10px;
}